---
import { BASE_URL } from "../consts";

interface Props {
  page: string;
  key: string;
  ext?: string;
  variant?: "small" | "full";
  class?: string;
}

const { page, key, ext, variant = "small", class: klass } = Astro.props;

const imgBase = `${BASE_URL}/${page}`;

const middle = variant === "small" ? ".small." : ".";
---

<a href={`/${page}/${key.replace("/", "-")}`} style="display: contents;">
  <img
    src={`${imgBase}/${key}${middle}${ext ?? "jpg"}`}
    loading="lazy"
    class={klass}
  />
</a>
